h1	{
	background-color:#2C001E;
	color:#77216F;
	text-align:center;
	padding:5px;
}

.nav ul {
        list-style:none;
	line-height:25px;
	background-color:#2C001E;
	height:300px;
	width:100px;
	float:left;
	padding:5px;
}

.nav li {
        display: inline-block;
        line-height:25px;
        background-color:#2C001E;
        height:300px;
        width:100px;
        float:left;
        padding:5px;
}

.nav a 	{
	text-decoration:none;
	display:block;
	color:#2C001E;
}

p	{
	font-color:#77216F;
}

