body	{
	background:#FFFFFF;
}

a	{
	color:#FFFFFF;
	font-family:Candara;
}

a:visited 	{
	color:#FBECE7;
	font-family:Candara;
	text-decoration:none;
	}

a:hover	{
	color:#DD4814;
	background:#FFFFFF;
}


h1	{
	background:#DD4814;
	color:#FFFFFF;
	text-align:center;
	padding:5px;
	font-family:Candara;
	font-size: 24px;
}

h2	{
	background:#DD4814;
	color:#FFFFFF;
	text-align:left;
	padding:5px;
	font-family:Candara;
	font-size: 18px;
}

ul {
	background:#DD4814;
        list-style:none;
	line-height:25px;
	height:50px;
	width:400px;
	padding:5px;
}

li {
	background:#DD4814;
        display: inline-block;
        line-height:25px;
	color:#FFFFFF;
        height:50px;
        width:100px;
        padding:5px;
	font-weight:bold;
	font-family:Candara;
}

p	{
	background:#DD4814;
	color:#FFFFFF;
	font-family:Candara;
}

