<style>

#header	{
	background-color:#2C001E;
	color:#77216F;
	text-align:center;
	padding:5px;
}

#nav 	{
	line-height:25px;
	background-color:#2C001E;
	height:300px;
	width:100px;
	float:left;
	padding:5px;
}

#p	{
	font-color:#77216F;
}

</style>


